.activity-response {
    display: flex;
    flex-direction: column;
    margin: 7px;
    width: 100%;
}

.activity-response-total {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.activity-response-item {
    display: flex;
    align-items: flex-start;
}
