<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Create from template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<main>
    <div class="container">
        <h3>Contractor tasks form</h3>
        <form class="form-horizontal mass-tasks-form"
              action="{{ api_endpoint }}"
              method="post"
              enctype="multipart/form-data"
        >
            <div class="form-group">
                <label class="control-label col-sm-2" for="contractor_email">Contractor email:</label>
                <div class="col-sm-10">
                    <input class="form-control"
                           placeholder="Enter contractor email"
                           name="contractor_email"
                           required
                    >
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="contractor_project">Contractor project:</label>
                <div class="col-sm-10">
                    <input class="form-control"
                           placeholder="Enter contractor project"
                           name="contractor_project"
                           required
                    >
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="completed_since">Completed since:</label>
                <div class="col-sm-10">
                    <input class="form-control"
                           placeholder="Enter completed since"
                           name="completed_since"
                           type="date"
                           value="{{ prev_month }}"
                           required
                    >
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</main>
</body>