<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Response of mass tasks create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<main>
    <div class="container">
        <h3>Response of mass tasks create</h3>
        {% for permanent_link in permanent_links %}
            <div class="row">
                <div class="col-md-6">
                    {{ permanent_link.name }}
                </div>
                <div class="col-md-6">
                    <a href="{{ permanent_link.link }}">{{ permanent_link.link }}</a>
                </div>
            </div>
        {% endfor %}

    </div>
</main>
</body>